*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #464646;
}

nav {
    font-family: sans-serif;
    background-color: rgb(253, 255, 240);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}

nav a,
p {
    margin: 10px;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    text-decoration: none;
    /* border: 1px solid black ; */
}

.home {
    color: black;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 255, 0);
    }
}
section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.hero{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;
}
#timer{
    background-color: orange;
    width: auto;
    height: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}